.App {
  margin: 0 auto;
  width: 1100px;
  height: 100vh;

  &dark {
    --header-bg-color:grey;
    --header-color:white;
  }

  &light {
    --header-bg-color:whitesmoke;
    --header-color:black;
  }

}