form {
  display: flex;
  flex-direction: column;

  input {
    border: none;
    border-bottom: 2px solid black;
    width: 300px;
    margin: 10px auto 0 auto;
    outline: none;
  }

  button {
    width: 100px;
    margin: 5px auto;
  }
}
