form {
  display: flex;
  flex-direction: column;

  input {
    border: none;
    border-bottom: 2px solid black;
    width: 400px;
    margin: 10px auto;
    outline: none;
  }

  button {
    width: 200px;
    margin: 10px auto;
  }
}
